.modal-overlayx {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal-contentx {
	background: #002339;
	color: white;
	padding: 20px;
	border-radius: 12px;
	width: 90%;
	max-width: 400px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-uploadx {
	background: #eee;
	width: 80%;
	height: 200px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #666;
}

.form-groupx {
	width: 100%;
	margin-bottom: 12px;
}

.form-group2 {
	width: 100%;
	margin-bottom: 12px;
	font-size: 12px;
	width: 100%;
	padding: 8px;
	border-radius: 10px;
	border: none;
	background: #1b3a4b;
	color: rgb(138, 138, 138);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-groupx input {
	width: 100%;
	padding: 8px;
	border-radius: 10px;
	border: none;
	background: #1b3a4b;
	color: white;
}

.form-group2 select {
	padding: 4px;
	font-size: 12px;
	border-radius: 10px;
	border: none;
	background: #226c94;
	color: white;
}

.create-btnx {
	background-color: #ff1744;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	margin-top: 16px;
	cursor: pointer;
}

.close-btnx {
	position: absolute;
	top: 10px;
	right: 15px;
	background: transparent;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.form-groupx select {
	width: 100%;
	padding: 10px;
	border: 1.5px solid #c0c0c0;
	border-radius: 5px;
	font-size: 16px;
	background-color: 1b3a4b;
	margin-bottom: 15px;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}

.form-groupx select:focus {
	outline: none;
	border-color: #4a90e2;
	box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.form-groupx select option {
	padding: 8px;
}
