.juego-container {
  background-color: #EA0029;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Arial', sans-serif;
  color: white;
  padding: 1rem;
}

.logo-container {
  margin-top: 1rem;
}

.logo {
  width: 120px;
  height: 169px;
  margin-bottom: -62px;
}


.juego-title {
  font-size: 38px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: -7rem;
  margin-top: -3rem;
}

.scratch-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 18rem;
  margin: 9rem 4rem 8rem 3rem;
}

.scratch-card {
  background-color: #FF8C42;
  /* Fondo naranja */
  border: 3px dashed white;
  border-radius: 20px;
  width: 150px;
  /* Ancho más grande */
  height: 150px;
  /* Altura igual al ancho para mantenerlas cuadradas */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.scratch-card:hover {
  transform: scale(1.05);
  /* Efecto de zoom al pasar el mouse */
}

.scratch-card.revealed {
  background-color: #670029;
  /* Fondo vino oscuro */
  color: white;
  font-weight: bold;
}

.scratch-text {
  color: white;
  font-size: 16px;
}

.prize-text {
  font-size: 20px;
  font-weight: bold;
}

.revealed-text {
  font-size: 20px;
}

.navbar {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 400px;
}

.nav-icon {
  font-size: 24px;
  color: #EA0029;
}

.nav-icon.active {
  background-color: white;
  border: 2px solid #EA0029;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}