.coupons-title {
  color: #10263C;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
}

.coupons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  justify-items: center; 
  padding: 0 8px; 
}


@media (min-width: 900px) {
  .coupons-title {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }

  .coupons-container {
    justify-items: start;
    gap: 20px; /* Un poco más de espacio en desktop */
  }
}

@media (max-width: 899px) {
  .coupons-title {
    text-align: center;
  }
  
  .coupons-container {
    justify-items: center;
    gap: 12px; /* menos espacio en mobile */
  }
}
