.categories-container {
  width: 100%;
  min-height: 100vh;
  background-color: #10263C;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


.desktop-header-container {
  width: 100%;
  padding: 0 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.desktop-header-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.desktop-main-layout {
  display: flex;
  width: 100%;
}

.desktop-content-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.desktop-sellers-container {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  width: 70%;
  max-width: 800px;
}


.mobile-layout {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box; 
}

.mobile-logo {
  width: 120px;
  margin: 24px 0;
  align-self: center; 
}

.mobile-banner-container{
  max-width: 100%;
  display: flex;
  justify-content: center; 
}

.mobile-category-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center; 
}

.sellers-list {
  width: 100%;
  max-height: calc(100vh - 280px);
  overflow-y: auto;
  padding-bottom: 16px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-sellers-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.desktop-sellers-list {
  max-height: calc(100vh - 120px);
}

.seller-item {
  all: unset;
  width: 100%;
  cursor: pointer;
}


.navbar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 64px;
  height: 64px;
  cursor: pointer;
  border: 2px solid white;
}


.loading-text,
.no-sellers-text {
  color: white;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}