.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 5px 50px;
    border-radius: 40px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 430px;
    position: fixed;
    bottom: 16px;
}

.nav-btn {
    background-color: #0d1f3c;
    border: none;
    border-radius: 100px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn.active {
    background-color: #E20435; 
	height: 45px;
	width: 99px;

}

.nav-btn img {
    width: 26px;
    height: 26px;
}

.page-name {
    font-weight: bold;
    color: #ffffff;
    font-size: 0.8rem;
}